<div class="header">
    <div class="row collapse margin-tq margin-bl">
        <div class="column all-6">{{>@logo}}</div>
        <div class="column align-right all-6">{{>@button-white}}</div>
    </div>
</div>
