 <!-- Top item -->
<li class="coop-nav__item coop-nav__wrap"><span class="coop-nav__link-wrap"><a href="#" class="coop-nav__link coop-nav__levelone">Get food ideas

	<svg width="10" height="16" class="chevron" xmlns="http://www.w3.org/2000/svg"><path d="M1 15l7-7-7-7" stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>

	<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a></span>
				        	
		<!-- Subcontent level 2 -->   
		<ul class="coop-nav__leveltwo">

			<li class="coop-nav__item same-column">
				<ul>
				   <li class="coop-nav__item">
						<a href="#" class="coop-nav__link levelthree-trigger">This week’s offers</a>
				   </li>	
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Browse recipes</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Co-op’s irresistible range</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Free-from range</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Find a food store</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Arrange a food delivery</a>
				   </li>
			   	</ul>
		    </li>
	
				<!-- Desktop menu content --> 
			   <li class="coop-nav__item mega-content">
				  <img src="/images/food-offer.jpg" alt="reviews">
				  <p class="red-text">This month:  2 pizzas and Budweiser 4-pack  for £5. (Normally £10.21)</p>
	    		  <p>Co-op Members get 5% back when they buy selected Co-op products in-store.</p>
				  <h4>100% British.</h4>
				  <p>All our chicken, lamb and beef comes from British farms, including in our chilled ready-meals, pies and sandwiches.</p>
			   </li>
		</ul>
</li>