.banner{
  padding: 16px 0;
  overflow: hidden;

  p{
    font-size:16px;
  }

  p, h2{
    // padding:0 .5em;
    margin:0;
  }

  .column{
    padding:0 $quarter-spacing-unit;

    @include media(xlarge){
      padding:0 16px;
    }

    button {
      margin:$quarter-spacing-unit 0 0 0;
    }
  }
}
