.button-white{
  @include reset-margins;
  width:91px;
  height:41px;
  color:$coop-grey;
  background-color: white;

  margin: 5px 10px;
  border: none;
  box-shadow: 0 0 0 1px $coop-grey;

  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  transition: background-color .25s linear;

  @include media(medium){
    font-size:16px;
  }

  &:active, &:hover{
    background:none;
    box-shadow:none;
    box-shadow: 0 0 0 2px $coop-grey;
    outline:none;
    color:$coop-black;
    background-color: $cloudy;
  }

  transition: all 0.25s;

  &:focus{
    transition:none;
    background:$white;
  }

}
