.button-white{
  @include reset-margins;
  width:91px;
  height:41px;
  color:$black;
  box-shadow:none;
  border:1px solid $black;
  border-radius:10px;
  background: none;

  @include media(medium){
    font-size:16px;
  }

  &:active, &:hover{
    background:none;
    box-shadow:none;
    border:2px solid $black;
    outline:none;
  }

  &:focus{
    transition:none;
  }

}
