.card-banner {
  display: block;
  color: $text;
  margin-bottom: 16px;
  @include media(medium) {
    margin-bottom: 32px
  }
}

.bg-dotted--banner{
   padding-bottom: $quarter-spacing-unit;
  @include media(medium) {
    padding: 0 $quarter-spacing-unit $quarter-spacing-unit $quarter-spacing-unit;
  }
    @include media(large) {
    padding-bottom: $half-spacing-unit;
  }
    @include media(xlarge) {
    padding-bottom: 0;
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
  }
}

.no-border {
  border: none;
  text-decoration: none;
}

.card-banner__image {
  margin: 0;
  line-height: 0;
  overflow: hidden;
}

.card-banner__caption {
  position: relative;
  background-color: $white;
  padding: $quarter-spacing-unit;
  margin: 0 0 0 $base-spacing-unit;
  color: $text;
  text-decoration: none;
  z-index: 999999;
  a {
    text-decoration: none;
    border: none;
  }
  p {
    margin-bottom: 0;
  }
    @include media(xlarge) {
      margin-top: -89px;
      margin-left: 160px;
  }
}

.card-banner__text {
  background-color: $white;
  padding: $quarter-spacing-unit;
  @include media(medium) {
    padding-top: 24px;
    margin-top: -$half-spacing-unit;
  }
  h3 {
     margin-bottom: $quarter-spacing-unit;
     a {
      text-decoration: none;
      &:hover {
        color: $text;
      }
     }
    @include media(large) {
      &:before {
        content: "";
        position: absolute;
        background: $white;
        height: $base-spacing-unit;
        width: $half-spacing-unit;
        left: -$half-spacing-unit;
     }
   }
    @include media(xlarge) {
      &:before {
        content: "";
        position: absolute;
        background: $white;
        height: $base-spacing-unit;
        width: $base-spacing-unit;
        left: -$base-spacing-unit;
     }
   }
  }

  p {
    margin-bottom: $quarter-spacing-unit;
     @include media(large) {
      padding-right: $half-spacing-unit;
     }
    &.margin-btm {
      margin-bottom: 48px;
    }
    a {
      color: #282828;
      border-color: #282828;
      &.card-banner__button {
        color: #fff;
      }
    }
  }
}

.card-banner__button {
  position: relative;
  padding: 16px 40px 16px 8px;
  width: 90%;
  background-color: #108042;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0;

  span.icon svg {
    width: 20px;
    position: absolute;
    top: 24px;
    right: 20px
  }

  &:hover {
    text-decoration: none;
  }

  @include media(medium) {
    max-width: 320px;
    position: absolute;
    bottom: -10%;
    left: 16px;
  }
}

.hidden-medium {
  display: none;
}

 @include media(large) {
 .hidden-medium {
    display: block;
  }
}
