.card{
  display:block;
  color:$body-copy;
  border:none;
  text-decoration:none;

  h3, .h3{
    font-size:20px;
    line-height:32px;
    position:relative;
    background:$white;
    margin-right:$half-spacing-unit;

    @include media(medium){
      padding:0 $quarter-spacing-unit;
    }
  }

  h4, .h4{
    @include regular;
    font-size:16px;
    line-height:32px;
    position:relative;
    background:$white;
    margin-right:$half-spacing-unit;

    @include media(medium){
      padding-left:$quarter-spacing-unit;
    }
  }

  .mega{
    @include mega;
  }

  p{
    position:relative;
    background:$white;
    margin-right:$half-spacing-unit;

    @include media(medium){
      padding:0 $quarter-spacing-unit;
    }
  }

  .image{
    height:0;
    overflow:hidden;
    position:relative;
    padding-bottom:56.25%; // 16:9

    img{
      position:absolute;
      width:100%;
      left:0;
      top:0;
    }
  }

  // overlay text block onto image
  .image + h3, .image + .h4, .image + h4, .image + .h4{
    margin:-$base-spacing-unit $half-spacing-unit 0 0;

    @include media(medium){
      margin:-$base-spacing-unit $half-spacing-unit 0 0;
    }
  }

  &:active, &:focus, &:hover{
    // TBC
  }
}

.collapse-small .card{
  @include media("max-width:479px"){
    h3, .h3, h4, .h4{
      margin:0;
      padding:0 $quarter-spacing-unit;
    }
  }
}