.card-offset{
  overflow:hidden;

  .card-offset-background{
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;

    @include media(large){
      width:50%;
    }
  }

  h2{
    display:block;
    margin:0;
    padding:$quarter-spacing-unit;
    color:$white;

    @include media(small){
      padding:$half-spacing-unit;
    }

    @include media(large){
      width:50%;
      float:left;
    }
  }
  p{
    margin:0 0 0 $quarter-spacing-unit;
    padding:$quarter-spacing-unit $quarter-spacing-unit 0 $quarter-spacing-unit;
    background:$white;

    @include media(small){
      margin:0 0 0 $half-spacing-unit;
    }

    @include media(large){
      margin:0;
      padding-left:$base-spacing-unit;
    }
  }

  .card-offset-text{
    @include media(large){
      width:50%;
      float:left;
      margin-top:$half-spacing-unit;
      margin-left:-$base-spacing-unit;
    }
  }
}