.coop-header {
    //border: red 1px solid;
}

.coop-nav {
    //border: green 1px solid; 
}

.coop-nav__list {
     //border: blue 1px solid;
}

.coop-nav__list {
     //border: blue 1px solid;
}

.coop-header {
    border-bottom: 1px solid #d8d8d8;

    @include media(large) {
        height: 122px;
        box-shadow: 0 2px 1px 0 rgba(0,0,0,0.20);
        border: 0;
    }
}

.coop-logo {
    margin-top: 10px;
    margin-left: 24px;

    @include media(large) {
        margin-left: 0;
    }

    img {
        width: 26px;
        height: 28px;
        min-width: 26px;

        @include media(large) {
            width: 54px;
            height: 56px;
      }
    }

}

.coop-nav {
	display: flex;
    justify-content: space-between;
	font-family: $medium;

    @include media(large){
        display: block;
    }

	&__toplink {
        margin-top: 10px;
		text-decoration: none;
		  	&:hover {
		  	   color: #282828 ;
			   text-decoration: underline;
		}
	}

    &__trigger {
    	margin-left: 23px;
    	margin-right: $half-spacing-unit;	
        min-width: 66px;

        .open-menu {
            margin-left: 5px;
        }

        .close-menu {
            margin-left: 5px;
            display: none;
        }

        &.active {
            border-bottom: 4px solid #326BB7;
            font-family: $bold;

            .open-menu {
                display: none;
            }

            .close-menu {
                display: inline-block;
            }
        }

    	@include media(large){
      		display: none;
    	}
	}
	  
    &__finder {
    	margin-right: 38px;
        min-width: 88px;

    	@include media(large){
      		display: none;
    	}
    }

	&__signin {
        margin-top: 1px;
	  	border: #166D66 2px solid;
	  	border-radius: 0;
	  	height: 47px;
	  	width: 84px;
        min-width: 84px;
        padding: 0;
	  	box-shadow: none;
	  	color: #166D66;
	  	font-size: 16px;

		  	&:hover {
		  		text-decoration: underline;
		  		background-color: $white;
		  	}

		  	@include media(large) {
               position: absolute;
               top: 5px;  
               right: 10px;
		  	   height: 41px;
	  		   width: 85px;
               border-radius: 7px;
               font-size: 16px;
		  	}
	}

	&__list {
	  	display: none;
	  	position: absolute;
	  	margin-top: 49px;
	  	width: 100%;
	    padding-right: 0;
        padding-left: 0;
	  	list-style: none;

		  	@include media(large){
	      		display: flex;	 
                position: relative;
	      		margin-top: 30px; 	
	      	} 
   
           &.toggle-show {

                //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
                @media (max-width: 960px) {
                    display: block;
                }

            }
    }

    &__item {
        margin-left: 24px;

    	@include media(large) {
    		padding-right: 0;
            margin-left: 0;
    	}

    	@include media(xlarge) {
    		padding-right: 0;
            margin-left: 24px;
    	}
    }

    &__levelone {
        outline: 0;

        &:active {
            color: #282828;
        }
      
      //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
      @media (max-width: 960px) {

        	&.active {
            	background-color: #3E71AF;
                padding-left: 24px;
            	border: 0;
            	outline: 0;
            	color: $white;
        	}

        }

    	@include media(large) {

    		&:hover {
    			border-bottom: 10px solid #326BB7;
    		}

            &:hover + .coop-nav__leveltwo {
               display: flex;
            }
    	}
    }

    &__leveltwo {
    	display: none;
        margin-bottom: 0;
        background-color: #3B70B1;
    	padding-left: 0;
    	list-style: none;

           @media (max-width: 960px) {
                margin-left: -24px;
            }
    		
    	   &.toggle-show {

                //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
                @media (max-width: 960px) {
        	      	display: block;
                }

	      	}

	        @include media(large) {
	        	position: absolute;
	        	background-color: #F7F7F7;
	        	width: 100%;
	        	border-top: 2px solid #356DB5;
	        	border-bottom: 8px solid #356DB5;
                left: 0;

	        }

            .coop-nav__link {
                padding-left: 24px;
            }

            @include media(large) {
                &:hover {
                    display: flex;
                    margin-top:10px;

                    .coop-nav__levelone {
                        border-bottom: 8px solid #356DB5!important;
                    }
                }

                .coop-nav__item {
                    display: inline;
                    width: -webkit-calc(16.6% - 16px);
                    width: -moz-calc(16.6% - 16px);
                    width: calc(16.6% - 16px);
                }
            }

    }

    &__levelthree {
    	display: none;
    	padding-left: 0;
    	list-style: none;
   
        &.toggle-show {

            //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
            @media (max-width: 960px) {
                display: block;
            }

        }

	      	@include media(large) {
	      		display: block;
	      	}

            .coop-nav__item {
                margin-left: 0;
            }
    }

    &__member {
        position: absolute;
        background-color: #0F8482;
        color: $white;
        border: 0;
        font-size: 16px;
        width: 100%;
        padding: 24px;
        box-shadow: none;
        border-radius: 0;
        text-align: left;

        @include media(large) {
            margin-top: -61px;
            right: 100px;
            width: 232px;
            height: 41px;
            min-width: 232px;
            padding: 0;
            border-radius: 7px;
            text-align: center;
        }
    } 


    &__link {
    	display: flex;
    	width: 100%;
    	padding: 24px 0 24px 0;
        justify-content: space-between;
    	text-decoration: none;
    	font-size: 16px;

  
            //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
            @media (max-width: 960px) {
                background-color: $white;
                border-bottom: #A5A5A5 1px solid;
            }  

	      	@include media(large){
      			padding: $eighth-spacing-unit 20px;
    		}             

            @include media(xlarge) {
                padding-right: $half-spacing-unit;
            }

            svg {
                margin-top: 10px;
                margin-right: 10px;
            }

            .chevron {
                display: inline-block;

                    @include media(large) {
                        display: none;
                    }
            }

            .open-chevron {
                display: none;

                    @include media(large) {
                        display: none;
                    }
            }

            &.active {

                 .chevron {
                    display: none;
                 }

                 .open-chevron {
                    display: inline-block;

                       @include media(large) {
                          display: none;
                       }
                 }
            }

    }

    &.toggle-show {
        
    	@include media(large){
    		display: none;
    	}
    }

    .menu-inline {
    	@include media(large){
    		display: inline-block;
    	}
    }

    .mega-content {
    	display: none;

    	p {
    		font-size: 16px;
    	}

    	@include media(large){
    		display: block;
    	}

    }

    //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
    @media (max-width: 960px) {

        .levelthree-trigger {
             outline: 0;
            &.active {
                background-color: #344E87;
                color: $white;
                outline: 0;
            }
        }
    }
}