.coop-header {
    //border: red 1px solid;
}

.coop-nav {
    //border: green 1px solid;
}

.coop-nav__list {
     //border: blue 1px solid;
}

.coop-nav__list {
     //border: blue 1px solid;
}

.coop-header {
    border-bottom: 1px solid #d8d8d8;
    padding-top: 19px;

    @include media(large) {
        height: 122px;
        box-shadow: 0 2px 1px 0 rgba(0,0,0,0.20);
        border: 0;

    }
}

.coop-logo {
    display: block;
    display: flex;
    flex: 0 1 auto;

    img {
        width: 36px;
        height: 36px;
        min-width: 36px;
    }

}

.coop-nav {
    display: block;  //Older browsers
	display: flex;
    justify-content: space-between;
	font-family: $medium;
    padding-left: 16px;

    @include media(large){
        display: block;
    }

	&__toplink {
		display: block;
        display: flex;
        text-decoration: none;
        text-align: center;
        align-items: center;
        justify-content: center;

        svg {
            margin-left: 6px;
        }

		&:hover {
		  color: #282828 ;
		  text-decoration: underline;
		}
	}

    &__trigger {
        min-width: 66px;

        .open-menu {
            // margin-left: 5px;
        }

        .close-menu {
            // margin-left: 5px;
            display: none;
        }

        &.active {
            border-bottom: 4px solid #326BB7;
            font-family: $bold;

            .open-menu {
                display: none;
            }

            .close-menu {
                display: inline-block;
            }
        }

    	@include media(large){
      		display: none;
    	}
	}

    &__finder {

    	@include media(large) {
            position: absolute;
            top: 5px;
            right: 355px;
        }
    }

	&__signin {
	  	border: #166D66 2px solid;
	  	border-radius: 0;
	  	height: 47px;
	  	width: 84px;
        min-width: 84px;
        padding: 0;
	  	box-shadow: none;
	  	color: #166D66;
	  	font-size: 16px;

		  	&:hover {
		  		text-decoration: underline;
		  		background-color: $white;
		  	}

		  	@include media(large) {
               position: absolute;
               top: 5px;
               right: 10px;
		  	   height: 41px;
	  		   width: 85px;
               border-radius: 7px;
               font-size: 16px;
		  	}
	}

    &__wrap {
          @include media(large) {
            display: inline-block;
          }
    }

    &__link-wrap {
        @include media(large) {
            &:hover + .coop-nav__leveltwo {
                   display: block;  //Older browsers
                   display: flex;
                }
        }
    }

    &__link-wrap.active {

        a {
            &:active {
                color: #282828;
            }
        }

        @media (max-width: 960px) {
            display: block;  //Older browsers
            display: flex;
            margin-left: -24px;
         }

       //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
      @media (max-width: 960px) {

            &.active {
                .coop-nav__levelone {
                    background-color: #3E71AF;
                    padding-left: 24px;
                    border: 0;
                    outline: 0;
                    color: $white;

                    .chevron {
                        display: none;
                    }

                    .open-chevron {
                        display: inline-block;
                    }
                }
            }
        }

    }

	&__list {
        background: $white;
	  	display: none;
	  	position: absolute;
	  	margin-top: 49px;
	  	width: 100%;
	    padding-right: 0;
        padding-left: 0;
	  	list-style: none;

		  	@include media(large) {
                display: block;  //Older browsers
	      		display: flex;
                position: relative;
	      		margin-top: 30px;
	      	}

           &.toggle-show {

                //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
                @media (max-width: 960px) {
                    display: block;
                    left: 0;
                }

            }
    }

    &__item {
        margin-left: 24px;

    	@include media(large) {
            //display: inline-block; //Older browsers
           // display: inline-flex;
    		padding-right: 0;
            margin-left: 0;

            &:hover {
                .coop-nav__leveltwo {
                    display: inline-block; //Older browsers
                    display: flex;

                    .coop-nav__levelone {
                        border-bottom: 10px solid #326BB7;
                    }
                }
            }
    	}

    	@include media(xlarge) {
    		padding-right: 0;
            margin-right: $eighth-spacing-unit;
            margin-left: $eighth-spacing-unit;
    	}
    }

        &__link {
        display: block;  //Older browsers
        display: flex;
        width: 100%;
        padding: 24px 0 24px 0;
        justify-content: space-between;
        text-decoration: none;
        font-size: 16px;

        &:hover {
            color: #282828;
        }


        //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
        @media (max-width: 960px) {
            background-color: $white;
            border-bottom: #A5A5A5 1px solid;
        }

        @include media(large) {
            padding: $eighth-spacing-unit 20px;
            font-family: $regular;
        }

        @include media(xlarge) {
            padding-right: $half-spacing-unit;
        }

        svg {
            margin-top: 10px;
            margin-right: 10px;
        }

        .chevron {
            display: inline-block;

                @include media(large) {
                    display: none;
                }
        }

        .open-chevron {
            display: none;

                @include media(large) {
                    display: none;
                }
        }

            &.active {

                 .chevron {
                    display: none;
                 }

                 .open-chevron {
                    display: inline-block;

                       @include media(large) {
                          display: none;
                       }
                 }
            }

    }


    &__levelone {
        outline: 0;

        &:active {
            color: #282828;
        }

    	@include media(large) {
           border-bottom: 10px solid $white;
           font-family: $medium;

    		&:hover {
    			border-bottom: 10px solid #326BB7;
    		}

            &:hover + .coop-nav__leveltwo {
               display: block;  //Older browsers
               display: flex;
            }
    	}
    }

    &__leveltwo {
    	display: none;
        margin-bottom: 0;
        background-color: #3B70B1;
    	padding-left: 0;
    	list-style: none;

           @media (max-width: 960px) {
                margin-left: -24px;
            }

    	   &.toggle-show {

                //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
                @media (max-width: 960px) {
        	      	display: block;
                }

	      	}

	        @include media(large) {
	        	position: absolute;
	        	background-color: #F7F7F7;
	        	width: 100%;
	        	border-top: 2px solid #356DB5;
	        	border-bottom: 8px solid #356DB5;
                left: 0;
                padding: $eighth-spacing-unit $quarter-spacing-unit;
	        }

            >.coop-nav__item {
                @include media(large) {
                    @include ie(9) {
                        display: block;
                        max-width: 20%;
                        float:left;
                        &.mega-content {
                            max-width: 30%;
                        }
                    }
                }
            }

            .coop-nav__link {
                padding-left: 24px;
                     @include media(large) {
                        font-size: 18px;
                        padding-left: 0;
                     }
            }

            @include media(large) {
                  .coop-nav__levelone {
                        border-bottom: 8px solid $white;
                    }
                &:hover {
                    display: block;  //Older browsers
                    display: flex;
                }
            }

                .same-column {

                ul {
                    list-style: none;
                    padding-left: 0;
                }

                //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
                @media (max-width: 960px) {
                    margin-left: 0;

                    ul {
                        margin-bottom: 0;
                        padding-left: 0;
                    }
                }
            }

    }

    &__levelthree {
    	display: none;
    	padding-left: 0;
    	list-style: none;
        margin-bottom: 0;

        &.toggle-show {

            //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
            @media (max-width: 960px) {
                display: block;
            }

        }

	      	@include media(large) {
	      		display: block;

                  .coop-nav__item {

                      border-bottom: 4px solid #F7F7F7;

                    &:hover {
                     border-bottom: 4px solid #326BB7;
                    }

                  }

                  .coop-nav__link {
                    padding-bottom: 0;
                  }

	      	}

            .coop-nav__item {
                margin-left: 0;
            }
    }

    &__member {
        position: absolute;
        background-color: #0F8482;
        color: $white;
        border: 0;
        font-size: 16px;
        width: 100%;
        padding: 24px;
        box-shadow: none;
        border-radius: 0;
        text-align: left;

        @include media(large) {
            top: -61px;
            right: 100px;
            width: 232px;
            height: 41px;
            min-width: 232px;
            padding: 0;
            border-radius: 7px;
            text-align: center;
        }
    }

    &.toggle-show {

    	@include media(large){
    		display: none;
    	}
    }

    .menu-inline {
    	@include media(large){
    		display: inline-block;
    	}
    }

    .mega-content {
    	display: none;

    	p {
    		font-size: 18px;
    	}

    	@include media(large) {
    		display: block;
            border-left: 2px solid #C4C4C4;
            margin-top: $eighth-spacing-unit;
            padding-right: $quarter-spacing-unit;
            padding-left: $quarter-spacing-unit;
    	}

        img {
            margin-bottom: $half-spacing-unit;
        }

        .red-text {
            color: #9F2A00;
            font-family: $bold;
        }

    }

    //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
    @media (max-width: 960px) {

        .levelthree-trigger {
             outline: 0;
            &.active {
                background-color: #344E87;
                color: $white;
                outline: 0;
            }
        }
    }


    //Need to sort mixin out for this for some reason we only have min width set in the frontend toolkit
    @include media(large) {

        .levelthree-trigger {
            font-family: $bold;
            border-bottom:  4px solid #f7f7f7;
            &:hover {
               border-bottom: 4px solid #326BB7;
            }
        }
    }

}
