
.coop-logo {
    margin-top: 10px;
    margin-left: 24px;
    img {
        width: 26px;
        height: 28px;
        min-width: 26px;
        @include media(large) {
            width: 54px;
            height: 56px;
      }
    }
}

.coop-nav {
	display: flex;
    justify-content: space-between;
	font-family: $medium;

	&__toplink {
        margin-top: 10px;
		text-decoration: none;
		  	&:hover {
		  	   color: #282828 ;
			   text-decoration: underline;
		}
	}

    &__trigger {
    	margin-left: 23px;
    	margin-right: $half-spacing-unit;	
        min-width: 66px;

        .open-menu {
            margin-left: 5px;
        }

        .close-menu {
            margin-left: 5px;
            display: none;
        }

        &.active {
            border-bottom: 4px solid #326BB7;
            font-family: $bold;

            .open-menu {
                display: none;
            }

            .close-menu {
                display: inline-block;
            }
        }

    	@include media(large){
      		display: none;
    	}
	}
	  
    &__finder {
    	margin-right: 38px;
        min-width: 88px;

    	@include media(large){
      		display: none;
    	}
    }

	&__signin {
        margin-top: 1px;
	  	border: #166D66 2px solid;
	  	border-radius: 0;
	  	height: 47px;
	  	width: 84px;
        min-width: 84px;
        padding: 0;
	  	box-shadow: none;
	  	color: #166D66;
	  	font-size: 16px;

		  	&:hover {
		  		text-decoration: underline;
		  		background-color: $white;
		  	}

		  	@include media(large) {
               margin-top: 16px;  
               margin-right: 24px;
		  	   height: 41px;
	  		   width: 85px;
               border-radius: 7px;
               font-size: 16px;
		  	}
	}

	&__list {
	  	display: none;
	  	position: absolute;
	  	margin-top: 49px;
	  	width: 100%;
	    padding-right: 17px;
        padding-left: 0;
	  	list-style: none;

		  	@include media(large){
	      		display: flex;	 
	      		margin-top: 70px; 
                padding-right: 0; 	
	      	} 

	      	&.toggle-show {
	      		display: block;
	      	}
    }

    &__item {
        margin-left: 24px;

    	@include media(large){
    		padding-right: 19px;
    	}

    	@include media(xlarge) {
    		padding-right: $half-spacing-unit;
    	}
    }

    &__levelone {
        outline: 0;

    	&.active {
        	background-color: #356DB5;
            padding-left: 24px;
        	border: 0;
        	outline: 0;
        	color: $white;
    	}

    	@include media(large) {

    		&:hover {
    			border-bottom: 10px solid #326BB7;
    		}
    	}
    }

    &__leveltwo {
    	display: none;
        margin-bottom: 0;
        background-color: #3B70B1;
    	padding-left: 0;
    	list-style: none;
    		
	      	&.toggle-show {
	      		display: block;
	      	}

	        @include media(large) {
	        	position: absolute;
	        	display: flex;
	        	background-color: #F7F7F7;
	        	width: 100%;
	        	border-top: 2px solid #356DB5;
	        	border-bottom: 8px solid #356DB5;
	        }

            .coop-nav__link {
                padding-left: 24px;
            }
    }

    &__levelthree {
    	display: none;
    	padding-left: 0;
    	list-style: none;

    		&.toggle-show {
	      		display: block;
	      	}
	      	@include media(large) {
	      		display: block;
	      	}

            .coop-nav__item {
                margin-left: 0;
            }
    }

    &__member {
        background-color: #0F8482;
        color: $white;
        border: 0;
        font-size: 16px;
        width: 100%;
        padding: 24px 0;
        box-shadow: none;
        border-radius: 0;

        @include media(large) {
            position: absolute;
            margin-top: -54px;
            right: 157px;
            width: 232px;
            height: 41px;
            min-width: 232px;
            padding: 0;
            border-radius: 7px;
        }
    } 


    &__link {
    	display: flex;
    	width: 100%;
        background-color: $white;
    	padding: 24px 0  24px 0;
        justify-content: space-between;
    	text-decoration: none;
    	font-size: 16px;
    	border-bottom: #A5A5A5 1px solid;

	      	@include media(large){
      			border-bottom: 0;
      			padding: $eighth-spacing-unit 0;
                background-color: transparent;
    		}

            svg {
                margin-top: 10px;
                margin-right: 10px;
            }

            .chevron {
                display: inline-block;

                    @include media(large){
                        display: none;
                    }
            }

            .open-chevron {
                display: none;

                    @include media(large){
                        display: none;
                    }
            }

            &.active {

                 .chevron {
                    display: none;
                 }

                 .open-chevron {
                    display: inline-block;
                 }
            }

    }

    &.toggle-show {
    	@include media(large){
    		display: none;
    	}
    }

    .menu-inline {
    	@include media(large){
    		display: inline-block;
    	}
    }

    .mega-content {
    	display: none;

    	p {
    		font-size: 16px;
    	}

    	@include media(large){
    		display: block;
    	}

    }

    .levelthree-trigger {
         outline: 0;
        &.active {
            background-color: #344E87;
            color: $white;
            outline: 0;
        }
    }
}