.logo{
  width:38px;
  height:40px;

  a{
    display:block;
  }

  .image{
    height:0;
    overflow:hidden;
    position:relative;
    padding-bottom:105.5556%;

    img{
      position:absolute;
      width:100%;
      left:0;
      top:0;
    }
  }
}