
<header class="coop-header">

	<div class="wrap">

			    <nav class="coop-nav" role="navigation" aria-label="Co-op global navigation">

			     {{>@logo}}

				    <a class="coop-nav__toplink coop-nav__trigger" aria-haspopup="true" >Menu
                        <svg width="16" height="10" class="open-menu" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1l7 7 7-7" stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd"/>
                        </svg>
                        <svg width="16" height="12" class="close-menu" xmlns="http://www.w3.org/2000/svg">
                            <g stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd">
                                <path d="M1 1l10.012 10.012M11 1L1 11"/>
                            </g>
                        </svg>
                    </a>

				    <!-- Navbar -->
				    <ul class="coop-nav__list" role="menubar" aria-label="primary-navigation" aria-expanded="">

 					  {{>@shop}}

 					  {{>@food-ideas}}

 					  {{>@arrange-funeral}}

 					  {{>@buy-insurance}}

                      {{render '@legal-help'}}

				      <li class="coop-nav__item coop-nav__wrap">
                        <a href="#" class="coop-nav__link coop-nav__levelone" role="menuitem">Deals and offers</a>
                      </li>

				        <!-- Member button -->
				   	   <button class="coop-nav__member" role="menuitem">Become a Co-op Member</button>
				    </ul>

				    <!-- Find a store link -->
				    <a href="#" class="coop-nav__toplink coop-nav__finder" role="menuitem">Find a store</a>


					<!-- Signin button -->
			        <button class="coop-nav__signin btn" role="menuitem">Sign in</button>

			    </nav>
	</div>

</header>
<main style="margin-top: 20px;">
    <img src="/images/homepage.jpg" alt="">
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    //on click
        // check if sibiling has class toggle-show
	$('.coop-nav__trigger').click(function() {
    	$('.coop-nav__list').toggleClass('toggle-show');
        $('.coop-nav__trigger').toggleClass('active');
    });

	$('.coop-nav__link-wrap').click(function() {
        closeOtherLvl2($(this));
        $(this).next('.coop-nav__leveltwo').toggleClass('toggle-show');
        $(this).toggleClass('active');
   	});

  	$('.levelthree-trigger').click(function() {
        var $this = $(this),
            $elToCloseSelector = '.coop-nav__levelthree',
            classToRemove;

        closeOtherLvl3($this);
        //toggle these active and shown
        //toggleThisMenu($this, $this.next('.coop-nav__levelthree'))
        $(this).next($elToCloseSelector).toggleClass('toggle-show');
        $(this).toggleClass('active');
   	});



    //These two functions do the same thing, we can make into one func on next push
    function closeOtherLvl3($this) {
        $thisNext = $this.next('.coop-nav__levelthree');
        $('.levelthree-trigger').not($this).removeClass('active');
        $('.coop-nav__levelthree').not($thisNext).removeClass('toggle-show');
    }

    function closeOtherLvl2($this){
        /*close all other open lvl3navs if any and remove active classes
        from other lvl3triggers that aren't related to this one.*/
        $thisNext = $this.next('.coop-nav__leveltwo');
        $('.coop-nav__link-wrap').not($this).removeClass('active');
        $('.coop-nav__leveltwo').not($thisNext).removeClass('toggle-show');
    }

    $("html").removeClass("no-js");

</script>
