<!-- Top item -->
<li class="coop-nav__item"><span class="coop-nav__link-wrap"><a href="#" class="coop-nav__link coop-nav__levelone">Arrange a funeral or plan

	<svg width="10" height="16" class="chevron" xmlns="http://www.w3.org/2000/svg"><path d="M1 15l7-7-7-7" stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>

	<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a></span>
				        	
		<!-- Subcontent level 2 -->   
		<ul class="coop-nav__leveltwo">

			<li class="coop-nav__item same-column">
				<ul>
				   <li class="coop-nav__item">
						<a href="#" class="coop-nav__link levelthree-trigger">Arrange a funeral</a>
				   </li>	
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">See our pay monthly plans</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Get a quote</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Contact a funeral home</a>
				   </li>
			   	</ul>
		    </li>
	
				<!-- Desktop menu content --> 
			   <li class="coop-nav__item mega-content">
				 <p>Our pre-paid funeral plans cover all costs of your funeral in advance – so there’s nothing to worry about. From £2,845 or £16.17 a month.</p>
			   </li>
		</ul>
</li>