<div class="card card-offset">
    <div class="card-offset-background bg-dark-blue"></div>
    <h2 class="mega"><span class="block">You have </span>£1.07 to spend</h2>
    <div class="card-offset-text">
        <p>This is what you've earned as a reward for buying Co-op products and services from us.</p>
        <p>You can spend this in our food stores, or one of our other businesses by showing your card or giving your membership number.</p>
        <p><a href="#">See your reward history</a></p>
    </div>
</div>
