<!DOCTYPE html>
<html lang="en" class="wf-active">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>document.write('<link rel="stylesheet" type="text/css" href="/css/main.css?v='+Date.now()+'" />');</script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="fm">
    {{{ yield }}}
</body>
</html>