<div class="bg-lighter-turquoise">
    <div class="wrap align-center">
        <div class="banner">
            <p>We've updated your homepage. Just one way we're making your Co-op website better. <a href="/feedback">Let us know what you think</a>.</p>
        </div>
    </div>
</div>