
  <div class="card">
    <div class="bg-dotted">
      <div class="row collapse">
        <div class="column medium-8 medium-push-4">
          <a href="">
            <div class="image">
              <figure>
                <img src="/images/choose-cause-banner.jpg" alt="" />
                <figcaption><p>Caption text caption text caption text caption text caption text</p></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="column medium-4 medium-pull-8">
          <h3 class="mega">
            <a href="">We’re helping local causes</a>
          </h3>
          <p>When members buy selected Co-op branded products and services we give 1% of the money they spend to a local cause in their community. If you're a member you can [choose which local cause you want to support].</p>

          <p class="hidden-small"><a href="">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
