<style>
  .fm .card .image figcaption {
    position: absolute;
    bottom: -10%;
    right:  -10%;

  }
  @media (min-width: 750px) {
    .fm .card .image figcaption {
      bottom: 0;
    }
  }
</style>

<div class="fm ">
  <div class="bg-dotted">
    <div class="wrap ">

        <div class="card padding-tx padding-q">

            <div class="row collapse">
              <div class="column medium-12 large-7 large-push-5">
                <a href="">
                  <div class="image">
                    <figure>
                      <img src="/images/choose-cause-banner.jpg" alt="" />
                      <figcaption class="hidden-small">
                        <p>Co-op member Charlene is backing On Trak, a charity helping young people in Bradford</p>
                      </figcaption>
                    </figure>
                  </div>
                </a>
              </div>
              <div class="column medium-11 large-5 large-pull-7">
                <div class="bg-default">
                  <h3 class="mega">
                    <a href="#">We’re helping local causes</a>
                  </h3>
                  <p>When members buy selected Co-op branded products and services we give 1% of the money they spend to a local cause in their community. If you're a member you can [choose which local cause you want to support].</p>

                  <p class=""> <a href="">Find out more</a> </p>
                </div>
              </div>
            </div>
        </div>

    </div>
 </div>
