<div class="card">
    <h3 class="mega mid-green"><a href="" class="dark-red">Get involved in the Leeds community</a></h3>
    <p>Tell us what you'd like to do near you and we'll try to make it happen by putting you in contact with local like-minded people.</p>
</div>
