<div class="card">
    <h3 class="mega">£20 million given to local causes in 2017</h3>
    <h3 class="mega">£20 million given to local causes in 2017</h3>
    <p><a href="#">Find out about the Co-op local community fund</a></p>
</div>