<div class="card">
    <div class="image hidden-small">
        <img src="/images/group-4.jpg" width="448" height="280" alt="Group 4" />
    </div>
    <h3 class="mega dark-red"><strong class="mid-blue">£20 million</strong> given to local causes in 2017</h3>
    <p><a href="#">Find out about the Co-op local community fund</a></p>
</div>