<div class="card">
    <h3 class="mega dark-red"><strong class="mid-blue">£20 million</strong> given to local causes in 2017</h3>
    <p><a href="#">Find out about the Co-op local community fund</a></p>
    <h3 class="mega dark-red"><strong class="mid-blue">£20 million</strong> given to local causes in 2017</h3>
    <p><a href="#">Find out about the Co-op local community fund</a></p>
</div>