<div class="card">
    <h3 class="mega">Raised for UK causes
        <span class="inline-block">£21.25 million</span>
    </h3>
    <h3 class="mega">Raised for causes near you
        <span class="inline-block">£12,345 million</span>
    </h3>
    <p><a href="#">Find out about the Co-op local community fund</a></p>
</div>
