<div class="card">
    <h3 class="mega green">You have helped <strong class="dark-green">Chorlton and Whalley Range Woodcraft Folk</strong> raise £3,279.14</h3>
    <p><a href="#" class="green">View more causes</a></p>
</div>