<div class="card">
    <h3><span class="h2">Raised for UK causes </span>
        <span class="mega inline-block">£21.25 million</span>
    </h3>
    <h3><span class="h2">Raised for causes near you </span>
        <div class="mega inline-block">£12,345</div>
    </h3>
    <p><a href="#">Find out about the Co-op local community fund</a></p>
</div>