<div class="card">
    <h3 class="mega mid-green">You have helped <a href="" class="dark-green">Chorlton and Whalley Range Woodcraft Folk</a> raise £3,279.14</h3>
    <p><a href="#">View more causes</a></p>
</div>
