
  <div class="card-banner">
    <div class="bg-dotted">
      <div class="row collapse">
        <div class="column large-6 large-push-6">
          <a href="" class="no-border">
              <figure class="card-banner__image">
                <img src="/images/choose-cause-banner.jpg" alt="" />
                <figcaption class="card-banner__caption hidden-medium"><p>Co-op member Charlene is backing On Trak, a charity helping young people in Bradford.</p></figcaption>
              </figure>
          </a>
        </div>
        <div class="card-banner__text column medium-11 large-6 large-pull-6">
          <h3 class="mega">
            <a href="">We’re helping local causes</a>
          </h3>
          <p>When members buy selected Co-op branded products and services we give 1% of the money they spend to a local cause in their community. If you're a member you can [choose which local cause you want to support].</p>

          <p><a href="">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
