<div class="banner bg-yellow">
    <div class="wrap">
      <div class="column medium-10">
        <h2>Want to get money-off coupons and offers on your membership card? Help us go paperless and <a href="">join our trial</a>.</h2>
        <!-- The below appears when the 'join our trial' link is clicked -->
        <!-- <h2>Thanks.</h2>
        <p>The trial will be running over the summer. If you’re selected to take part then we’ll send you an email in a few weeks telling you what to do next.</p>-->
      </div>
      <div class="column align-right medium-2">
          <button id="dashboard__gift-x-dismiss" class="button-white" data-cookie-domain="{{cookieDomain}}">Dismiss</button>
      </div>
  </div>
</div>
