<div class="banner bg-green">
    <div class="wrap">
        <div class="column medium-8">
          <h2>Give your &pound;{{formattedXBalance}} to someone who needs it, <a href="/gift-reward" data-track-click='{"type": "click", "label": "Gift X"}'>find out how</a>.</h2>
        </div>
        <div class="column medium-4 align-right"><button class="button-white dashboard__dismiss-gift-x" data-cookie-domain="{{cookieDomain}}">Dismiss</button></div>
    </div>
</div>
