<div class="header-block">
    <div class="row collapse bg-light-turquoise margin-bb">
        <div class="column all-11 large-9 large-offset-1">
            <h2 class="mega">As a member you get exclusive offers throughout Co-op</h2>
        </div>
    </div>
</div>