<ul class="list-unformatted indent-small">
    <li><a href="">Add a missed receipt</a></li>
    <li><a href="">Get a replacement card</a></li>
    <li><a href="">Change your details</a></li>
    <li><a href="">Your eligibility to vote</a></li>
    <li><a href="">Your dividend points</a></li>
</ul>