<!-- Top item -->
<li class="coop-nav__item"><span class="coop-nav__link-wrap"><a href="#" class="coop-nav__link coop-nav__levelone">Shop

	<svg width="10" height="16" class="chevron" xmlns="http://www.w3.org/2000/svg"><path d="M1 15l7-7-7-7" stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>

	<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a></span>
				        	
	<!-- Subcontent level 2 -->   
	<ul class="coop-nav__leveltwo">

		<li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Electrical  <svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a>
									
			<ul class="coop-nav__levelthree">
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Washers and dryers</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Dishwashers</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Fridge and freezers</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Cookers and hobs</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Small appliances</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Vacuums</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">TV and audio</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Computers and gaming</a></li>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link">Electrical offers</a></li>
			</ul>

		</li>

		<li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Beds</a>
									
				<!-- Subcontent level 3 -->  
				<ul class="coop-nav__levelthree">
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Beds</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Mattresses</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Frames</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Headboards</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Bedding</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Cots and kids beds</a></li>
				</ul>
	  	</li>

		<li class="coop-nav__item same-column">
			<ul>
				 <li class="coop-nav__item">
					<a href="#" class="coop-nav__link levelthree-trigger">Find a food store</a>
				 </li>	
				 <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Arrange a food delivery</a>
				 </li>
		   </ul>
		</li>

		<!-- Desktop menu content --> 
		<li class="coop-nav__item mega-content">
			<img src="/images/reviews.png" alt="reviews">
	    			<p>Co-op Members get 5% back on selected electricals and discounts on beds.</p>
					<p>Free delivery on small appliances and TVs under 40”.</p>
					<p class="red-text">Enter code SUN20 to get an additional £20 off electricals  over £250.</p>
		</li>
	</ul>
</li>