<div class="wrap">
	<div class="row collapse margin-bs">
		<div class="column bg-grey all-12">
			<div class="row">
				<div class="column">

						<div class="row collapse-small clear-left-medium clear-left-large">

							<div class="column xsmall-6 medium-6 large-3">
								<a href="" class="card card--showcase" data-track-click="">
									<div class="image"><img src="/images/samsung_logo.svg" alt="Samsung"></div>
								</a>
							</div>
							<div class="column xsmall-6 medium-6 large-3">
								<a href="" class="card card--showcase" data-track-click="">
									<div class="image"><img src="/images/bosch.svg" alt="Bosch"></div>
								</a>
							</div>
							<div class="column xsmall-6 medium-6 large-3">
								<a href="" class="card card--showcase" data-track-click="">
									<div class="image"><img src="/images/beko.svg" alt="Beko"></div>
								</a>
							</div>
							<div class="column xsmall-6 medium-6 large-3">
								<a href="" class="card card--showcase" data-track-click="">
									<div class="image"><img src="/images/sony.svg" alt="Sony"></div>
								</a>
							</div>

						</div>

				</div>
			</div>
		</div>
	</div>
</div>
