<div class="wrap">
	<div class="row collapse margin-bs margin-tb">
		<div class="column bg-dotted all-12">
			<div class="row">
				<div class="column">

					<div class="heading-block heading-block--negative heading-block--transparent">

						<div class="row collapse-small clear-left-medium clear-left-large">

							<div class="column medium-6 large-4 margin-bl">
								<a href="" data-track-click="" class="card card--compact">
									<div class="image"><img src="samsung_logo.png" alt="Samsung" width="448" height="280"></div>
								</a>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
