// blues
$mid-blue:#326BB7;
$dark-blue:#334C89;
$darker-blue:#406A91;
$brand: #00B1E7;

// greens
$mid-green:#4F820D;
$dark-green:#385C0A;

// reds
$dark-red:#9F2A00;

// turquoise
$light-turquoise:#72DCDB;
$lighter-turquoise:#e3f8f8;
$mid-turquoise:#0F8482;

// greys
$manchester-grey:#A5A5A5;
$end-of-days:#6E6E6E;
