// The Blue
$brand: #00B1E7;

// greys
$cloudy:#F2F2F2;
$overcast:#D8D8D8;
$manchester-grey:#A5A5A5;
$end-of-days:#6E6E6E;

$black: #282828;


// Secondary colour palette //

// Yellows
$yellow-bright:#FFFF00;
$yellow-light:#FFEC00;
$yellow-mid:#FFD308;

// Greens
$bright-green:#EEFB3C;
$light-green:#BAD303;
$mid-green:#4F820D;
$dark-green:#385C0A;

// Green blues
$bright-turquoise:#0AFBFB;
$lighter-turquoise:#e3f8f8;
$light-turquoise:#72DCDB;
$mid-turquoise:#0F8482;
$green-blue-dark:#166D66;

// Blues
$bright-blue: #418CFC;
$light-blue:#92D8FE;
$mid-blue:#326BB7;
$dark-blue:#334C89;
$darker-blue:#406A91;

// Pink
$bright-pink: #FC43D3;
$light-pink:#FF80D3;
$mid-purple:#AD208E;
$dark-purple:#61307D;

// Orange
$mid-orange: #F8642C;

// Reds
$light-red:#D63118;
$dark-red:#9F2A00;
