.wrap{
  padding:0;

  @include media(large){
    padding:0 16px;
  }
}

.row{
  margin-left:0;
  margin-right:0;
}

.column{

  &.padding-q{
    padding:0 $quarter-spacing-unit;
  }

  &.padding-xlarge-24{
    @include media(xlarge){
      padding:0 $quarter-spacing-unit*1.5;
    }
  }

  &.padding-large-0{
    @include media(large){
      padding:0;
    }
  }

  &.padding-xlarge-8{
    @include media(xlarge){
      padding:0 8px;
    }
  }
}