.wrap{
  padding:0;

  @include media(large){
    padding:0 10px;
  }

  &.padded-small{
    @include media("max-width:959px"){
      padding:0 16px;
    }
  }
}

.row{
  &.collapse{
    margin-left:0;
    margin-right:0;
  }

  &.collapse-small{
    @include media("max-width:749px"){
      margin-left:0;
      margin-right:0;

      .column{
        padding:0;
      }
    }
  }
}

.column{

  &.padding-q{
    padding:0 $quarter-spacing-unit;
  }

  &.padding-xlarge-24{
    @include media(xlarge){
      padding:0 $quarter-spacing-unit*1.5;
    }
  }
}

// responsive margins
.margin-bs{
  margin-bottom:$quarter-spacing-unit;

  @include media(medium){
    margin-bottom:$half-spacing-unit;
  }

  @include media(large){
    margin-bottom:$base-spacing-unit;
  }
}

.margin-bl{
  margin-bottom:$half-spacing-unit;
}

// Padding helpers
.padding-rq { padding-right: $quarter-spacing-unit; }
.padding-lq { padding-left: $quarter-spacing-unit; }
