.wrap{
  padding:0;

  @include media(large){
    padding:0 10px;
  }

  &.padded-small{
    padding:0 16px;

    @include media(large){
      padding:0 10px;
    }
  }

  &.padded-medium{
    @include media(medium){
      padding:0 16px;
    }
    @include media(large){
      padding:0 10px;
    }
  }

  > .row{
    @include media(large){
      margin-left:-10px;
      margin-right:-10px;
    }
  }
}

.row{
  &.collapse{
    margin-left:0;
    margin-right:0;
  }

  &.collapse-small{
    @include media("max-width:749px"){
      margin-left:0;
      margin-right:0;

      .column{
        padding:0;
      }
    }
  }

  &.clear-left-medium{
    .medium-6:nth-child(odd){
      // set odd item clearing
      clear:left;
    }
  }

  &.clear-left-large{
    @include media(large){
      // unset odd item clearing
      .medium-6:nth-child(odd){
        clear:none;
      }
      // set 4th item clearing
      .large-4:nth-child(3n+1){
        clear:left;
      }
    }
  }
}

.column{

  &.padding-q{
    padding:0 $quarter-spacing-unit;
  }

  &.padding-xlarge-24{
    @include media(xlarge){
      padding:0 $quarter-spacing-unit*1.5;
    }
  }
}

// flex enhanced equal height columns
@supports (display: flex) {
  .flex {
    display: flex;
    flex-wrap: wrap;

    &:before {  // unset clearfix:before as affects flex Safari
      display: inline;
    }

    > .column{
      display: flex;
    }
  }
}

// negative margins
.margin-negative-tm {
  margin-top: -$base-spacing-unit;
}

.margin-negative-tl {
  margin-top: - ($base-spacing-unit * 2);
}

// responsive margins
.margin-bs{
  margin-bottom:$quarter-spacing-unit;

  @include media(medium){
    margin-bottom:$half-spacing-unit;
  }

  @include media(large){
    margin-bottom:$base-spacing-unit;
  }
}

.margin-bm{
  margin-bottom:$quarter-spacing-unit;

  @include media(medium){
    margin-bottom:$half-spacing-unit;
  }
}

.margin-bl{
  margin-bottom:$half-spacing-unit;
}

.margin-bxl{
  margin-bottom:$half-spacing-unit;

  @include media(large){
    margin-bottom:$base-spacing-unit;
  }
}

.margin-tb { 
  margin-top: $quarter-spacing-unit;

  @include media(medium){
    margin-top: $base-spacing-unit;
  }

}

// Padding helpers
.padding-rq { padding-right: $quarter-spacing-unit; }
.padding-lq { padding-left: $quarter-spacing-unit; }
