.align-right{
  text-align:right;
}

.block{
  display:block;
}

// colour helper classes
.green{
    color:$green;
    border-color:$green;
  }

.dark-green{
    color:$dark-green;
    border-color:$dark-green;
}

.red{
    color:$red;
    border-color:$red;
}

.blue{
    color:$blue;
    border-color:$blue;
}