.align-right{
  text-align:right;
}

.block{
  display:block;
}

// colour helper classes
.green{
    color:#4D8300;
    border-color:#4D8300;
  }

.dark-green{
    color:#375D00;
    border-color:#375D00;
}

.red{
    color:#A12900;
    border-color:#A12900;
}

.blue{
    color:#2E69BA;
    border-color:#2E69BA;
}