// text helpers
.align-right{
  text-align:right;
}

// text helpers
.align-center{
  text-align:center;
}


.block{
  display:block;
}

.inline-block{
  display:inline-block;
}

// colour helper classes
.mid-green{
    color:$mid-green;
    border-color:$mid-green;
  }

.dark-green{
    color:$dark-green;
    border-color:$dark-green;
}

.dark-red{
    color:$dark-red;
    border-color:$dark-red;
}

.mid-blue{
    color:$mid-blue;
    border-color:$mid-blue;
}

.bg-dark-blue{
  background-color:$dark-blue;
}

.bg-light-turquoise{
  background-color:$light-turquoise;
}

.bg-lighter-turquoise{
  background-color:$lighter-turquoise;
}

.hidden-small{
  display:none;

  @include media(medium){
    display:block;
  }
}