@mixin reset-margins{
  margin:0;
  padding:0;
}

// toggle grid borders
@mixin show-guides{
  @if $show-guides{
  	border: 1px dashed pink;
  }
}

.column{
  @include show-guides;
}

@mixin small-reverse(){
  display: flex;
  flex-direction: column-reverse;

  @include media(medium){
    display:block;
  }
}

.row.small-reverse{
  @include small-reverse;
}

@mixin mega{
  font-size:30px;
  line-height:48px;

  @include media(large){
    font-size:46px;
    line-height:64px;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
