// set default non-webfont stack
$default:'Helvetica Neue', Helvetica, Arial, sans-serif;

// set mixins with default and .wf-active states
@mixin regular {
  font-family:$default;
	.wf-active & {
    font-family:"AvenirNextLTW01-Regular";
	}
}

@mixin medium {
  font-family:$default;
	.wf-active & {
    font-family:"AvenirNextLTW01-Medium";
	}
}

.medium{
  @include medium;
}

@mixin bold {
  font-family:$default;
	.wf-active & {
    font-family:"AvenirNextLTW01-Demi";
    font-weight:normal;
	}
}

@mixin regular-italic {
  font-family:$default;
	.wf-active & {
    font-family:"AvenirNextLTW01-Italic";
	}
}

p, .p, ul{
  font-size:18px;
  line-height:32px;

  @include media(large){
    line-height:28px;
  }
}

b, strong{
  @include bold;
}

a {
  border:none;
  text-decoration:underline;
  text-decoration-skip: ink;
  color:$body-copy;

  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  transition: background-color .25s linear;

  &:active, &:focus, &:hover{
    color: $dark-blue;
    background-color: $cloudy;
  }

  &.card {
    &:active, &:focus, &:hover{
      background-color: white;
    }
  }
}

.list-unformatted{
  list-style:none;
  padding:0;
  margin:0;

  > li{
    margin:0 0 1em;
  }

  &.indent-small{ // modifier for fm dashboard
    @include media(small){
      margin-left:$quarter-spacing-unit;
    }
    @include media(medium){
      margin-left:0;
    }
  }
}

.mega{
  @include mega;
}

::selection {
    color: white;
    background: $brand;
}

h2, .h2 {
  margin-bottom: 16px;
}
