<!-- Top item -->
<li class="coop-nav__item coop-nav__wrap">
	<span class="coop-nav__link-wrap">
		<a href="#" class="coop-nav__link coop-nav__levelone" role="menuitem">Buy insurance
			<svg width="16" height="16" class="chevron" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1l7 7 7-7" stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd"/>
			</svg>
			<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg">
				<path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/>
			</svg>
		</a>
	</span>

		<!-- Subcontent level 2 -->
		<ul class="coop-nav__leveltwo" role="menu">

			<li class="coop-nav__item">
				<a href="#" class="coop-nav__link levelthree-trigger" role="menuitem" aria-haspopup="true">Insure your car
					<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/>
					</svg>
				</a>

				<ul class="coop-nav__levelthree" role="menu" aria-expanded="">
					<li class="coop-nav__item"><a href="#" class="coop-nav__link" role="menuitem">Insure a young driver</a></li>
					<li class="coop-nav__item"><a href="#" class="coop-nav__link" role="menuitem">Retrieve a quote</a></li>
					<li class="coop-nav__item"><a href="#" class="coop-nav__link" role="menuitem">Make a claim</a></li>
				</ul>

		    </li>

			<li class="coop-nav__item same-column">
				<ul>
				   <li class="coop-nav__item">
						<a href="#" class="coop-nav__link levelthree-trigger" role="menuitem" aria-haspopup="true">Insure a young driver</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger" role="menuitem">Get life cover</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger" role="menuitem">Get holiday cover</a>
				   </li>
			   	</ul>

			</li>
		</ul>
</li>
