<!-- Top item -->
<li class="coop-nav__item coop-nav__wrap"><span class="coop-nav__link-wrap"><a href="#" class="coop-nav__link coop-nav__levelone">Buy insurance

	<svg width="16" height="16" class="chevron" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l7 7 7-7" stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>

	<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a></span>

		<!-- Subcontent level 2 -->
		<ul class="coop-nav__leveltwo">

			<li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Insure your car  <svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a>

				<ul class="coop-nav__levelthree">
					<li class="coop-nav__item"><a href="#" class="coop-nav__link">Insure a young driver</a></li>
					<li class="coop-nav__item"><a href="#" class="coop-nav__link">Retrieve a quote</a></li>
					<li class="coop-nav__item"><a href="#" class="coop-nav__link">Make a claim</a></li>
				</ul>

		    </li>

			<li class="coop-nav__item same-column">
				<ul>
				   <li class="coop-nav__item">
						<a href="#" class="coop-nav__link levelthree-trigger">Insure a young driver</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Get life cover</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Get holiday cover</a>
				   </li>
			   	</ul>

			</li>
		</ul>
</li>
