<div class="logo">
    <div class="image">
        <a href="/"><img alt="Co-op" src="/images/logos/coop-logo.svg" onerror="this.onerror=null; this.src='/images/logos/coopX2.png'" /></a>
    </div>
</div>