<div class="logo">
    <a href="/">
        <div class="image"><img alt="Co-op" src="/images/logos/coop-logo.svg" onerror="this.onerror=null; this.src='/images/logos/coopX2.png'" /></div>
    </a>
</div>
