<div class="wrap">
	<div class="row collapse bg-dotted margin-bs margin-tb">
		<div class="column all-12">
			<div class="row">
				<div class="column">
					
					<div class="heading-block heading-block--negative heading-block--transparent">

						<div class="row collapse-small clear-left-medium clear-left-large">
							
							<div class="column medium-6 large-4 margin-bl">
								<a href="" data-track-click="" class="card card--compact">
									<div class="highlight">Member offer</div>
									<div class="image"><img src="https://assets.membership.coop.co.uk/member-voice/e38cfe07-d24b-4c81-94fc-2d9872d9e1b4.png" alt="Advent Calendar" width="448" height="280"></div>
									<h4 class="h4">Insurance</h4>
									<h3 class="h3">Members get an exclusive price on travel insurance</h3>
									<div class="border-bottom"></div>
								</a>
							</div>
							
							<div class="column medium-6 large-4 margin-bl">
								<a href="" data-track-click="" class="card card--compact">
									<div class="image"><img src="https://assets.membership.coop.co.uk/member-voice/e38cfe07-d24b-4c81-94fc-2d9872d9e1b4.png" alt="Advent Calendar" width="448" height="280"></div>
									<h4 class="h4">Food</h4>
									<h3 class="h3">2 for &pound;4 on Co-op Traditional/Italian/low fat chilled ready meals</h3>
									<div class="border-bottom"></div>
								</a>
							</div>
							
							<div class="column medium-6 large-4 margin-bl">
								<a href="" data-track-click="" class="card card--compact">
									<div class="image"><img src="https://assets.membership.coop.co.uk/member-voice/e38cfe07-d24b-4c81-94fc-2d9872d9e1b4.png" alt="Advent Calendar" width="448" height="280"></div>
									<h4 class="h4">Electrical</h4>
									<h3 class="h3">Members earn 5% back on all Samsung products</h3>
									<div class="border-bottom"></div>
								</a>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>