<div class="wrap">
    {{>@header}}
</div>

<!-- <div class="row collapse">
  {{>@banner}}
</div> -->

<div class="row collapse margin-bl">
  {{>@gift-x-trial-banner}}
</div>

<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q">
            <h2 class="p medium">Welcome to your account, Gail</h2>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="row collapse margin-bs">
        <div class="column medium-8">
            {{>@card-offset}}
        </div>
        <div class="column medium-4">
            <div class="padding-h padding-tq">
                {{>@list-unformatted}}
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q">
            <h2 class="p medium">Your community news and cause</h2>
        </div>
    </div>
</div>

<div class="wrap padded-small">
    <div class="row collapse margin-bm">
        <div class="column medium-6">
            {{>@card-green-mega}}
        </div>
        <div class="column medium-6">
            {{>@card-double-mega}}
        </div>
    </div>
</div>

<div class="wrap padded-medium">
    <div class="row collapse margin-bxl">
        {{>@card-2-column-medium}}
    </div>
</div>

<div class="wrap">
    <div class="row collapse bg-light-turquoise margin-bs">
        <div class="column all-11 large-8 large-offset-1">
            <div class="row">
                <div class="column">
                    {{>@heading-block}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap padded-small">
    <div class="row collapse margin-bl">
        <div class="column all-11 large-8 large-offset-1">
            <div class="row clear-left-medium flex">



                      <div class="column medium-6 margin-bl">
                        <a class="card card-underline" href="http://www.co-operativefood.co.uk/membership/?utm_source=membership.coop.co.uk&amp;utm_medium=referral&amp;utm_campaign=memberOffers&amp;utm_content=generic" target="_blank" rel="noopener noreferrer" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;member_benefit_food_card&quot;}">
                            <h3>Food</h3>
                                <p>Buy Co-op brand food and get 5% back to spend next time you shop with us.</p>
                        </a>
                    </div>

                                    <div class="column medium-6 margin-bl">
                        <a class="card card-underline" href="http://www.co-operativefuneralcare.co.uk/co-op-membership/?utm_source=membership.coop.co.uk&amp;utm_medium=referral&amp;utm_campaign=memberOffers&amp;utm_content=generic" target="_blank" rel="noopener noreferrer" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;member_benefit_funeralcare_card&quot;}">
                            <h3>Funeralcare</h3>
                                <p>Up to £194 back to spend with us when you buy a Pre-Paid Funeral Plan.</p>
                        </a>
                    </div>

                                    <div class="column medium-6 margin-bl">
                        <a class="card card-underline" href="https://electrical.coop.co.uk/content/membership/member-offers/?utm_source=membership.coop.co.uk&amp;utm_medium=referral&amp;utm_campaign=memberOffers&amp;utm_content=generic" target="_blank" rel="noopener noreferrer" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;member_benefit_electrical_card&quot;}">
                            <h3>Electrical</h3>
                                <p>Get 5% back on selected brand electricals when you buy online.</p>
                        </a>
                    </div>

                                    <div class="column medium-6 margin-bl">
                        <a class="card card-underline" href="https://www.co-oplegalservices.co.uk/membership/?utm_source=membership.coop.co.uk&amp;utm_medium=referral&amp;utm_campaign=memberOffers&amp;utm_content=generic" target="_blank" rel="noopener noreferrer" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;member_benefit_legal_card&quot;}">
                            <h3>Legal services</h3>
                                <p>Get 5% back on selected services, free downloadable legal advice and exclusive member offers.</p>
                        </a>
                    </div>

                                    <div class="column medium-6 margin-bl">
                        <a class="card card-underline" href="http://www.co-opinsurance.co.uk/membership?utm_source=membership&amp;utm_medium=referral&amp;utm_campaign=memberOffers&amp;utm_content=generic" target="_blank" rel="noopener noreferrer" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;member_benefit_insurance_card&quot;}">
                            <h3>Insurance</h3>
                                <p>Special offers, discounts and free gifts when you buy home, pet or car insurance.</p>
                        </a>
                    </div>

                                            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q">
            <h2 class="p medium">Your Co-op offers</h2>
        </div>
    </div>
</div>

<div class="wrap padded-medium">
    <div class="row collapse-small margin-bl">
        <div class="column medium-6 large-6 margin-bl">
          <a class="card" href="#">
              <div class="image">
                  <img src="/images/car-insurance.jpg" width="448" height="280" alt="Group 4" />
              </div>
              <h3 class="h4">Insurance</h3>
              <h4 class="h3">Exclusive Member prices on car insurance</h4>
              <div class="border-bottom"></div>
          </a>
        </div>
        <div class="column medium-6 large-6 margin-bl">
          <a class="card" href="#">
              <div class="image">
                  <img src="/images/tomato-and-chilli-king-prawn-skewers.jpg" width="448" height="280" alt="Group 4" />
              </div>
              <h3 class="h4">Food</h3>
              <h4 class="h3">Get great value on food, plus 5% back on Co-op products</h4>
              <div class="border-bottom"></div>
          </a>
        </div>
        <div class="column medium-6 large-6 margin-bl">
          <a class="card" href="#">
              <div class="image">
                  <img src="/images/electrical.jpg" width="448" height="280" alt="Group 4" />
              </div>
              <h3 class="h4">Electrical</h3>
              <h4 class="h3">You can now spend your 5% on Co-op Electrical</h4>
              <div class="border-bottom"></div>
          </a>
        </div>
        <div class="column medium-6 large-6 margin-bl">
          <a class="card" href="#">
              <div class="image">
                  <img src="/images/beds.jpg" width="448" height="280" alt="Group 4" />
              </div>
              <h3 class="h4">Beds</h3>
              <h4 class="h3">Get 15% off on our new beds website</h4>
              <div class="border-bottom"></div>
          </a>
        </div>
    </div>
</div>




<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q">
            <h2>Co-op offers</h2>
        </div>
    </div>
</div>

{{>@row-vertical-offset}}

<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q">
            <h2 class="p medium">Brands we love</h2>
        </div>
    </div>
</div>

{{>@brand-showcase}}

























<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q">
            <h2 class="p medium">Grid with uneven length cards and 2 breakpoints for columns</h2>
        </div>
    </div>
</div>

<div class="wrap padded-medium">
        <div class="row collapse-small clear-left-medium clear-left-large margin-bl">
                    <div class="column medium-6 large-4 margin-bl">
        <a href="https://joinin.coop.co.uk/opportunities/117?_ga=2.201125035.406763123.1515409211-52187482.1497426173" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;Opportunity: [117] - [Shape our advent calendar offer for 2018]&quot;}" class="card">
            <div class="image">
                <img src="https://assets.membership.coop.co.uk/member-voice/e38cfe07-d24b-4c81-94fc-2d9872d9e1b4.png" alt="Advent Calendar" width="448" height="280">
            </div>
            {{!<h4 class="h4">[category]</h4>}}
            <h3 class="h3">Shape our advent calendar offer for 2018</h3>
            <p class="opportunity--offset-temporary-fix">What would be behind the doors of your dream advent calendar? Share your thoughts online and create your perfect countdown to Christmas next year.</p>
            <div class="border-bottom"></div>
        </a>
    </div>
    <div class="column medium-6 large-4 margin-bl">
        <a href="https://joinin.coop.co.uk/opportunities/110?_ga=2.201125035.406763123.1515409211-52187482.1497426173" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;Opportunity: [110] - [Try out our new Free-From range]&quot;}" class="card">
            <div class="image">
                <img src="https://assets.membership.coop.co.uk/member-voice/e32a051e-7b47-409e-ac54-345244f241db.png" alt="Co-op Free From Logo" width="448" height="280">
            </div>

            <h3 class="h3">Try out our new Free-From range</h3>
            <p class="opportunity--offset-temporary-fix">If you’re a regular buyer of free-from foods and fancy sharing your thoughts on our exciting new range, join in and sign up for taste tests and shopping missions  join in and sign up for taste tests and shopping missions.</p>
            <div class="border-bottom"></div>
        </a>
    </div>
                    <div class="column medium-6 large-4 margin-bl">
        <a href="https://joinin.coop.co.uk/opportunities/117?_ga=2.201125035.406763123.1515409211-52187482.1497426173" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;Opportunity: [117] - [Shape our advent calendar offer for 2018]&quot;}" class="card">
            <div class="image">
                <img src="https://assets.membership.coop.co.uk/member-voice/e38cfe07-d24b-4c81-94fc-2d9872d9e1b4.png" alt="Advent Calendar" width="448" height="280">
            </div>

            <h3 class="h3">Shape our advent calendar offer for 2018</h3>
            <p class="opportunity--offset-temporary-fix">What would be behind the doors of your dream advent calendar? Share your thoughts online and create your perfect countdown to Christmas next year.</p>
            <div class="border-bottom"></div>
        </a>
    </div>
    <div class="column medium-6 large-4 margin-bl">
        <a href="https://joinin.coop.co.uk/opportunities/110?_ga=2.201125035.406763123.1515409211-52187482.1497426173" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;Opportunity: [110] - [Try out our new Free-From range]&quot;}" class="card">
            <div class="image">
                <img src="https://assets.membership.coop.co.uk/member-voice/e32a051e-7b47-409e-ac54-345244f241db.png" alt="Co-op Free From Logo" width="448" height="280">
            </div>

            <h3 class="h3">Try out our new Free-From range</h3>
            <p class="opportunity--offset-temporary-fix">If you’re a regular buyer of free-from foods and fancy sharing your thoughts on our exciting new range, join in and sign up for taste tests and shopping missions.</p>
            <div class="border-bottom"></div>
        </a>
    </div>
    <div class="column medium-6 large-4 margin-bl">
        <a href="https://joinin.coop.co.uk/opportunities/110?_ga=2.201125035.406763123.1515409211-52187482.1497426173" data-track-click="{&quot;type&quot;: &quot;click&quot;, &quot;label&quot;: &quot;Opportunity: [110] - [Try out our new Free-From range]&quot;}" class="card">
            <div class="image">
                <img src="https://assets.membership.coop.co.uk/member-voice/e32a051e-7b47-409e-ac54-345244f241db.png" alt="Co-op Free From Logo" width="448" height="280">
            </div>

            <h3 class="h3">Try out our new Free-From range</h3>
            <p class="opportunity--offset-temporary-fix">If you’re a regular buyer of free-from foods and fancy sharing your thoughts on our exciting new range, join in and sign up for taste tests and shopping missions.</p>
            <div class="border-bottom"></div>
        </a>
    </div>

        </div>
    </div>
