<div class="wrap">
    {{>@header}}
</div>

<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q padding-xlarge-24">
            <h2 class="p medium">Welcome to your account, Gail</h2>
        </div>
    </div>
</div>


<div class="wrap">
    <div class="row collapse margin-bs">
        <div class="column medium-8">
            {{>@card-offset}}
        </div>
        <div class="column medium-4">
            <div class="padding-h padding-tq">
                {{>@list-unformatted}}
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q padding-xlarge-24">
            <h2 class="p medium">Your community news and cause</h2>
        </div>
    </div>
</div>

<div class="wrap padded-small">
    <div class="row margin-bl">
        <div class="column medium-6">
            {{>@card-green-mega}}
        </div>
        <div class="column medium-6">
            {{>@card-with-image-mega}}
        </div>
    </div>
</div>

<div class="wrap">
    <div class="row collapse bg-light-turquoise margin-bs">
        <div class="column all-11 large-8 large-offset-1">
            <div class="row">
                <div class="column">
                    {{>@heading-block}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap padded-small">
    <div class="row collapse margin-bq margin-bl">
        <div class="column all-11 large-8 large-offset-1">
            <div class="row">
                <div class="column medium-6 margin-bl">
                    {{>@card-underline}}
                </div>
                <div class="column medium-6 margin-bl">
                    {{>@card-underline}}
                </div>
                <div class="column medium-6 margin-bl">
                    {{>@card-underline}}
                </div>
                <div class="column medium-6 margin-bl">
                    {{>@card-underline}}
                </div>
                <div class="column medium-6 margin-bl">
                    {{>@card-underline}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="row collapse">
        <div class="column padding-q padding-xlarge-24">
            <h2 class="p medium">Your Co-op offers</h2>
        </div>
    </div>
</div>

<div class="wrap padded-medium">
    <div class="row collapse-small">
        <div class="column medium-6 large-4 margin-bs">
            {{>@card-with-image}}
        </div>
        <div class="column medium-6 large-4 margin-bs">
            {{>@card-with-image}}
        </div>
        <div class="column medium-6 large-4 margin-bs">
            {{>@card-with-image}}
        </div>
    </div>
</div>