<!-- Top item -->
<li class="coop-nav__item coop-nav__wrap"><span class="coop-nav__link-wrap"><a href="#" class="coop-nav__link coop-nav__levelone">Get legal help

	<svg width="16" height="16" class="chevron" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l7 7 7-7" stroke="#282828" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>

	<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a></span>

	<!-- Subcontent level 2 -->
	<ul class="coop-nav__leveltwo">

		<li class="coop-nav__item same-column">
			<ul>
				<li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Deal with a death or inheritance (probate)<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a>

					<ul class="coop-nav__levelthree">
						<li class="coop-nav__item"><a href="#" class="coop-nav__link">Execute someone’s will
		</a></li>
						<li class="coop-nav__item"><a href="#" class="coop-nav__link">Deal with an estate when there’s no will</a></li>
						<li class="coop-nav__item"><a href="#" class="coop-nav__link">Read articles about inheritance</a></li>
					</ul>

				</li>

				<li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Make a will</a>

					<!-- Subcontent level 3 -->
					<ul class="coop-nav__levelthree">
		    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Start your will online</a></li>
		    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Give someone power of attorney</a></li>
		    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Read articles about wills</a></li>
					</ul>
	  			</li>

			</ul>
		</li>

		<li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Separate or divorce</a>

				<!-- Subcontent level 3 -->
				<ul class="coop-nav__levelthree">
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Start a divorce online</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Protect your finances and property after divorce</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Change your will</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Split shared finances and property (unmarried)</a></li>
	    			<li class="coop-nav__item"><a href="#" class="coop-nav__link">Arrange child custody or visiting rights</a></li>
				</ul>

	    </li>

	    <li class="coop-nav__item same-column">

				<ul>
				   <li class="coop-nav__item">
						<a href="#" class="coop-nav__link levelthree-trigger">Move in together</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Make a pre- or post-nuptial agreement</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Claim for an accident or injury</a>
				   </li>
				    <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Raise a work dispute</a>
				   </li>
				   <li class="coop-nav__item"><a href="#" class="coop-nav__link levelthree-trigger">Buy a house<svg width="17" height="10"class="open-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 8.5l-7-7-7 7" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a>

					<ul class="coop-nav__levelthree">
						<li class="coop-nav__item"><a href="#" class="coop-nav__link">Get a quote for conveyancing
		</a></li>
						<li class="coop-nav__item"><a href="#" class="coop-nav__link">Buy a house with someone else</a></li>
					</ul>

				</li>
			   	</ul>

	   </li>


		<!-- Desktop menu content -->
		<li class="coop-nav__item mega-content">

	    	<p><a href="#" class="coop-nav__link levelthree-trigger">Arrange a call back online.</a></p>
			<p>For free initial advice on any legal issue call 0330 037 9545</p>
			<img src="/images/reviews.png" alt="reviews">

		</li>
	</ul>
</li>
